<% if !(u = controller.send(:current_user)).nil? && u.name == "root"
   if controller.send(:guard).blocked_groups.size > 0 %>
<%= link_to 'resume normal mode', resume_users_path %>
<% elsif u.name == "root" %>
<%= link_to 'switch to maintanance mode', maintanance_users_path %>
<% end 
end %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
<% if allowed?(:users, :show) %>
    <td><%= link_to 'Show', user %></td>
<% end %>
<% if allowed?(:users, :update) %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
<% end %>
<% if allowed?(:users, :destroy) %>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
<% unless controller.send :current_user %>
    <td><%= link_to 'Login', login_user_path(user) %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:users, :create) %>
<%= link_to 'New User', new_user_path %>
<% end %>
