<h1>Listing courses</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Domain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.kind %></td>
    <td><%= course.domain.name %></td>
<% if allowed?(:courses, :show, @domain.name) %>
    <td><%= link_to 'Show', course_path(@domain.name, course) %></td>
<% end %>
<% if allowed?(:courses, :update, @domain.name) %>
    <td><%= link_to 'Edit', edit_course_path(@domain.name,course) %></td>
<% end %>
<% if allowed?(:courses, :destroy, @domain.name) %>
    <td><%= link_to 'Destroy', course_path(@domain.name, course), :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:courses, :create, @domain.name) %>
<%= link_to 'New Course', new_course_path(@domain.name) %>
<% end %>
