<h1>Listing domains</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><%= domain.name %></td>
<% if allowed?(:domains, :show) %>
    <td><%= link_to 'Show', domain %></td>
<% end %>
<% if allowed?(:domains, :update) %>
    <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
<% end %>
<% if allowed?(:domains, :destroy) %>
    <td><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:domains, :create) %>
<%= link_to 'New Domain', new_domain_path %>
<% end %>
